*.so
*.pyc
*.pyo
tags
build
linux-package
kitty.app
compile_commands.json
link_commands.json
glad/out
kitty/launcher
*.dSYM
dev
__pycache__
glfw/wayland-*-client-protocol.[ch]
docs/_build
docs/generated
.DS_Store
